input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

div {
  margin-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
input {
  text-align: center;
  width: 50px;
}

/* Estilizando os rótulos (labels) */
label {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  width: 200px; /* Define a largura dos rótulos */
}

/* Estilizando os campos de entrada (inputs) */
input[type="number"] {
  -moz-appearance: textfield;
  width: 60px; /* Define a largura dos campos de número */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"] {
  width: 325px; /* Define a largura dos campos de número */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
}

#submitBtn {
  padding: 15px 150px;
  font-weight: bold;
}
